body {
	margin: 0px;
	padding: 0px;
}

* {
	color: black;
	text-decoration: none;
}

a:hover {
	color: cornflowerblue;
}

nav {
	display: flex;
	position: sticky;
	top: 0;
	justify-content: space-between;
	align-items: center;
	background-color: #eeeeee;
	border-bottom: solid grey 1px;
	height: 2.5rem;
	padding: 0 2rem;
}

.nav__link {
	color: black;
	font-size: 1.5rem;
	transition: color 0.3s;
}

.nav__site_name {
	font-size: 1.75rem;
}

.app {
	margin: auto;
	max-width: 50rem;
	padding: 1rem;
	overflow: hidden;
	word-wrap: break-word;
	background-color: #eeeeee;
	box-shadow: 0 0 5px 1rem #eeeeee;
}

.section_header {
	margin-top: 0.1rem;
	margin-bottom: 0.3rem;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	border-bottom: solid grey 1px;
}

.article {
	padding-bottom: 2px;
	padding-left: 10px;
	transition: background-color 0.3s ease;
}

.article:hover {
	background-color: #dddddd;
}

.article__date {
	font-size: 0.70rem;
	line-height: 0.9rem;
	padding-top: 0.75rem;
	font-style: italic;
	text-transform: uppercase;
}

.article__name {
	font-size: 1.25rem;
	text-decoration: none;
	color: black;
	transition: color 0.2s;
}

.article__desc {
	font-size: 0.9rem;
	padding-left: 1.2rem;
	line-height: 1rem;
}

.article__readmore:hover {
	color:royalblue;
}

.article__readmore {
	font-size: 0.9rem;
	padding-left: 1.2rem;
	line-height: 1rem;
	text-transform: uppercase;
	color: cornflowerblue;
	transition: color 0.3s;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 50rem;
	margin-top: 1rem;
	padding-top: 0.5rem;
	overflow: hidden;
	word-wrap: break-word;
	background-color: #eeeeee;
	border-top: solid grey 1px;
}

.footer__last_update {
}

.footer__icons {
}

.footer__copyright {
}

/*Perfect-fit image*/
main img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	max-width: 100%;
}

/*Used as a code snippet with raw whitespace formatting*/
code {
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	white-space: pre-wrap;
	background-color: #dfdfdf;
	display: block;
	font-family: monospace;
	word-wrap: break-word;
}

/*Used when we want to highlight some text in the code region*/
code .highlight {
	background-color: rgba(255, 255, 0, 0.5);
	display: inline-flex;
}

/*Another type of highlight with different color*/
code .highlight1 {
	background-color: rgba(0, 255, 0, 0.5);
	display: inline-flex;
}

th.center {
	text-align: center;
	white-space: nowrap;
}

table {
	margin-left: auto;
	margin-right: auto;
}

th {
	font-weight: normal;
	text-align: left;
}

/*Disable useless below spacing*/
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
}